{{define "main"}}
<div class="text-3xl fixed inset-0 flex flex-col justify-center items-left text-left p-6 text-blue-600">
	<ul class="space-y-2">
		<li>18. <a href="https://www.linkedin.com/in/berlianbimaseto" class="hover:underline">Hey</a></li>
		<li>25. <a href="https://x.com/bimzxyzzz" class="hover:underline">What...?</a></li>
		<li>07. <a href="mailto:bimz@mathrock.xyz" class="hover:underline">Ehllo!</a></li>
		<li>12. <a href="https://github.com/trianglehasfoursides" class="hover:underline">Projects</a></li>
	</ul>
</div>
{{end}}
